<div class="container-fluid mt-2" *ngIf="!this.isLoading">
    <div class="row">
        <nav class="col-md-2 sidebar mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="javascript:void(0);" (click)="onCompanyView()">
                                    <i class="material-icons">
                                        home_work
                                    </i>
                                    Companies <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0);" (click)="onUserView()">
                                    <i class="material-icons">
                                        supervised_user_circle
                                    </i>
                                    Users
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </nav>


        <main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
            <div class="chartjs-size-monitor"
                style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                <div class="chartjs-size-monitor-expand"
                    style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                </div>
                <div class="chartjs-size-monitor-shrink"
                    style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">Dashboard</h5>
                <div class="card-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card-counter primary">
                                    <i class="material-icons">
                                        home_work
                                    </i> <span class="count-numbers">{{totalCompanies}}</span>
                                    <span class="count-name">Companies</span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card-counter danger">
                                    <i class="material-icons">
                                        supervised_user_circle
                                    </i>
                                    <span class="count-numbers">{{totalUSers}}</span>
                                    <span class="count-name">Users</span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card-counter success">
                                    <i class="material-icons">
                                        verified_user
                                    </i>
                                    <span class="count-numbers">{{totalVerifiedCompanies}}</span>
                                    <span class="count-name">Verified Companies</span>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="card-counter info">
                                    <i class="material-icons">
                                        verified_user
                                    </i>
                                    <span class="count-numbers">{{totalVerifiedUsers}}</span>
                                    <span class="count-name">Verified Users</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <h6 *ngIf="isCompanyView">Companies</h6>
                    <h6 *ngIf="!isCompanyView">Users</h6>
                    <hr />

                    <div class="mat-elevation-z8" *ngIf="!isCompanyView">
                        <table mat-table [dataSource]="dataSourceUsers" class="mat-elevation-z8">

                            <!--- Note that these columns can be defined in any order.
                                  The actual rendered columns are set as a property on the row definition" -->

                            <!-- Position Column -->
                            <ng-container matColumnDef="avatar">
                                <th mat-header-cell *matHeaderCellDef> Logo </th>
                                <td mat-cell *matCellDef="let element">
                                    <img height="50" width="50"
                                        src="https://www.pinclipart.com/picdir/middle/355-3553881_stockvader-predicted-adig-user-profile-icon-png-clipart.png"
                                        alt="company-profile0pic" class="rounded-circle rounded-sm">
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef> Date </th>
                                <td mat-cell *matCellDef="let element"> {{element.date | date:'mediumDate' }} </td>
                            </ng-container>

                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef> Email </th>
                                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="gender">
                                <th mat-header-cell *matHeaderCellDef> Gender </th>
                                <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
                            </ng-container>

                            <ng-container matColumnDef="Full-time/Part-time">
                                <th mat-header-cell *matHeaderCellDef> Full-time/Part-time </th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="element.fullTime">Full Time</span>
                                    <span *ngIf="element.partTime">Part Time</span>
                                    <span *ngIf="!element.fullTime && !element.partTime">N/A</span>
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="verified">
                                <th mat-header-cell *matHeaderCellDef> verified </th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="element.verified" class="badge badge-success mr-2">
                                        <i class="material-icons">
                                            verified_user
                                        </i>
                                    </span>

                                    <a href="javascript:void(0);" (click)="onDeleteCompany(element.email)" class="mr-2">
                                        <span class="badge badge-danger">
                                            <i class="material-icons">delete_forever</i></span></a>
                                    <button *ngIf="!element.verified" class="btn btn-success"
                                        (click)="onVerifyCompany(element.email)">Verify Now</button>

                                </td>
                            </ng-container>



                            <tr mat-header-row *matHeaderRowDef="displayedUserColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedUserColumns;"></tr>
                        </table>
                    </div>
                    <div class="mat-elevation-z8" *ngIf="isCompanyView">

                        <!-- <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field> -->

                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                            <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->

                            <!-- Position Column -->
                            <ng-container matColumnDef="avatar">
                                <th mat-header-cell *matHeaderCellDef> Logo </th>
                                <td mat-cell *matCellDef="let element">
                                    <img height="50" width="50"
                                        src="https://www.cqse.eu/images/company/company-landscape.png"
                                        alt="company-profile0pic" class="rounded-circle rounded-sm">
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef> Date </th>
                                <td mat-cell *matCellDef="let element"> {{element.date | date:'mediumDate' }} </td>
                            </ng-container>

                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef> Email </th>
                                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>

                            <ng-container matColumnDef="numbersOfEmployees">
                                <th mat-header-cell *matHeaderCellDef> numbersOfEmployees </th>
                                <td mat-cell *matCellDef="let element"> {{element.numbersOfEmployees}} </td>
                            </ng-container>

                            <ng-container matColumnDef="webSite">
                                <th mat-header-cell *matHeaderCellDef> webSite </th>
                                <td mat-cell *matCellDef="let element">
                                    <i class="material-icons">
                                        link
                                    </i>&nbsp;<a href={{element.webSite}} target="_blank">{{element.webSite}}</a>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="verified">
                                <th mat-header-cell *matHeaderCellDef> verified </th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="element.verified" class="badge badge-success mr-2">
                                        <i class="material-icons">
                                            verified_user
                                        </i>
                                    </span>
                                    <a href="javascript:void(0);" (click)="onDeleteCompany(element.email)" class="mr-2">
                                        <span class="badge badge-danger">
                                            <i class="material-icons">delete_forever</i></span></a>
                                    <button *ngIf="!element.verified" class="btn btn-success"
                                        (click)="onVerifyCompany(element.email)">Verify Now</button>

                                </td>
                            </ng-container>



                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>