<div class="container-fluid" style="margin-top:4rem">
        <div class="container" *ngIf="myConnections?.length == 0">
                <div class="alert alert-success" role="alert">
                        You don't have a any connections till now.
                      </div>
        </div>
    <div class="row">
        <div class="col-md-3" *ngFor="let e of myConnections">
            <div class="card">
                <div class="box">
                    <div class="img">
                        <img
                            src="https://www.pinclipart.com/picdir/middle/355-3553881_stockvader-predicted-adig-user-profile-icon-png-clipart.png">
                    </div>
                    <h2>{{e.name}}<br><span>{{e.position}}</span></h2>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et.</p>
                        <button type="button" class="btn btn-lg btn-block btn-outline-primary" [routerLink]="[ '/user/my-connections',e.connectionId]"><i style="vertical-align: bottom;" class="material-icons">
                                details
                                </i> View Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>